@*@model BugTracker.Models.AdminIndexViewModel    
@{
	ViewBag.Title = "EditUser";
}

<h2>Edit User</h2>


@using (Html.BeginForm("", ""))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.user.Id)

	@Html.ListBox("SelectedRoles", Model.Roles)
	<p><input type="submit" class="btn btn-info" /></p>

}*@

