@model IEnumerable<BugTracker.Models.AdminIndexViewModel>

@{
	ViewBag.Title = "Index";
}

<h2>Admin User Role Index</h2>

@foreach (var mod in Model)
{
	<p>@mod.User.FullName | @Html.ActionLink("Edit Roles", "EditUser", new { id = mod.User.Id })</p>
	<ul>
		@foreach (var role in mod.Roles)
		{

			<li>
				@role
			</li>
		}
	</ul>

}




IsUserInRole(string UserId, string Role)

ListUsersInRole(string Role)

ListUsersNotInRole(string Role)

ListRolesForUser(string UserId)

ListRolesNotForUser(string UserId)