@model IEnumerable<BugTracker.Models.Project>
@*@using TicketHelper*@



@{
	ViewBag.Title = "TicketsForEachProject";
}

<h2>Tickets For Each Project</h2>

@*@foreach (var ticket in TicketHelper.GetProjectTickets(mod.Id))
{

	<tr>
		<td>
			@Name |
			
		</td>
		<td>
			<ul>
				@foreach (var user in chg.Ticket)
				{
					<li>
						@user.FullName
					</li>
				}
			</ul>

		</td>
	</tr>


}*@