@model BugTracker.Models.AdminProject
@{
	ViewBag.Title = "AddToProject";
}

<h2>Admin - Add To Project</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	@Html.HiddenFor(m => m.Project.Id)	

	@Html.ListBox("SelectedUsers", Model.Users, new { @class = "control-label col-md-2" }) 
	<p><input type="submit" class="btn btn-info" /></p>

}