@model IEnumerable<BugTracker.Models.Project>
@{
	ViewBag.Title = "Index";
}

<h2>Admin Project Index</h2>


@foreach (var chg in Model)
{
	<p>@chg.Name | @Html.ActionLink("Add User to Project", "AddToProject", new { id = chg.Id })</p>
	<ul>
		@foreach (var user in chg.Users)
		{

			<li>
				@user.FullName | @Html.ActionLink("Remove User from Project", "RemoveUser", new { id = chg.Id})
			</li>
		}
	</ul>

}