@model BugTracker.Models.AdminProject
@{
	ViewBag.Title = "RemoveUser";
}

<h2>Admin - Remove User</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Project.Id)

	@Html.ListBox("RmvUser", Model.Users, new { @class = "control-label col-md-2" })
	@*ok need this changed, just one user, don't need selected*@
	<p><input type="submit" class="btn btn-info" /></p>

}


